body{
  border:1px solid grey;
  margin: 0;
  height: auto;
  background-color: rgb(132, 139, 143);
  border-radius: 6px;
  text-align: center;
  color: rgb(16, 73, 116);
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(247, 223, 223);
  
  
}

.Skills{

}
h1{
   margin-top: 0;
   text-align: center;
   border-radius: 6px;
   color:rgb(67, 63, 63);
   background-color: rgb(194, 189, 189);
   
   
}

header{
   
   height: auto;
   width: auto;
   margin: 0;
   text-align: center;
   border-radius: 6px;
  
}

.navtop{
   height: auto;
   width: auto;
   padding: 6px;
   margin: 0;
   letter-spacing: 1px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 40px;
   background-color: lightblue;
}
.navbottom{
   background-color: lightblue;
   height: auto;
   width: auto;
   padding: 6px;
   margin: 0;
   letter-spacing: 1px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 30px;
}

article{
   border-radius: 6px;
   height: auto;
   
}

main{
   margin: 0;
   border-radius: 6px;
   
}
h2{
   color: rgb(67, 63, 63);
   text-align: center;
   background-color: rgb(194, 189, 189);
   border-radius: 6px;
   
   
}

footer{
   background-color: rgb(194, 200, 204);
   height: auto;
   border-radius: 6px;
   letter-spacing: 1px;
   margin-top: 5px
}

.liMenu{
   text-align: center;
   display: inline-block;
   margin: 0;
   color: gray;
   
}

.liLogo{
   display: inline-block;
   height: 25px;
   
   
}
.imgLogo{
   height: 30px;
   margin-top: 5px;
}
.liSkills{
   display: flex;
   justify-content: center;

   list-style-position: inside;
   list-style: none;
   

   }

.ulNav{
   text-align: center;
}